$breakpoints: (
  'sm': 'screen and (min-width: 560x)',
  'md': 'screen and (min-width: 960px)',
  'lg': 'screen and (min-width: 1200px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$art-size-sm: 150px;
$art-size-md: 200px;
$art-size-lg: 250px;
$menu-right: 10px;

body,html {
    height: 100%;
    margin: 0 auto;
}

path {
  stroke: white;
}

.bg {
    background-image: url(../img/bg.PNG);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50%;
	z-index: -1;
    animation: fadeIn 4s ease 0s 1 normal;
    &__title {
        width: 369px;
        display: block;
        margin: 0 auto;
        padding: 10% 0;
    }
}

.portfolio {
    background-image: url(../img/marble_background.png);
	&__title {
		display: block;
		font-size: 40px;
        font-family: "Bermuda Script", "Bickham Script Pro Semibold";
		margin: 0 0;
		padding: 10px 20px;
	}
	&__categ {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
    &__art {
        width: $art-size-sm;
        height: $art-size-sm;
        background: rgb(250,250,230);
        border: 2px solid rgb(130,130,130);
        margin: 10px 10px;
        border-image-slice: 50;
        border-image-width: 15px;
        border-image-repeat: stretch stretch;
        border-image-source: url(../img/woodFrame.png);
        img {
            width: $art-size-sm - 20px;
            height: $art-size-sm - 20px;
            margin: 10px 10px;
            object-fit: cover;
        }
        &:hover{
            animation: vibration .1s  infinite;
        }
		@include mq(sm) {
			width: $art-size-md;
			height: $art-size-md;
			margin: 20px 20px;
			img {
				width: $art-size-md - 20px;
				height: $art-size-md - 20px;
			}	
		}
		@include mq(md) {
			width: $art-size-lg;
			height: $art-size-lg;
			img {
				width: $art-size-lg - 20px;
				height: $art-size-lg - 20px;
			}	
		}
    }
}

.about {
    p {
        padding-left: 15px;
        font-size: 14px;
        line-height: 15px;
		background: grey;
    }
}

.container {
	position: relative;
    @include mq(lg) {
        width: 1200px;
		margin: 0 auto;
    }
}

.hidden {
	display:none;
}

.done {
    display: none;
}


#humbMenu {
	position: absolute;
	color: #fff;
	font-size: 25px;
	right: $menu-right;
	top: 8px;
	cursor: pointer;
    @include mq(sm) {
        display: none;   
    }
    
}

#nav-bar {
    position: absolute;
    right: $menu-right;
    top: 35px;
    z-index: 2;
    li {
        font-size: 14px;
        list-style: none;
        background: rgb(34, 19, 0);
        padding: 10px 20px;
        border: solid 1px rgb(80,80,80);
        border-collapse: collapse;
        opacity: 0.7;
        a {
            text-decoration: none;
            color: #ccc;
            cursor: pointer;
        }
    }
    @include mq(sm) {
        top: 0px;
        display: block;
        li {
            display: inline-flex;
            font-size: 20px;
            padding: 5px 20px;
            background: transparent;
            border: none;
            a {
                color: black;
                filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
            }
        }
    }
}

#logo {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
    animation: fadeIn 2s ease 0s 1 normal;
}

/*　↓↓↓↓↓　アニメーション*/

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes vibration {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(0px, 2px) rotateZ(1deg)}
    50% {transform: translate(2px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

/*　↑↑↑↑↑　アニメーション*/
