@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0px 0px;
  background-image: url("../img/background.jpg");
  background-repeat: repeat-y; }

footer {
  padding: 20px 0;
  background: #323135;
  color: #98969c;
  text-align: center; }

path {
  stroke: white; }

.bg {
  background-image: url(../img/bg.PNG);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50%;
  z-index: -1;
  animation: fadeIn 4s ease 0s 1 normal; }
  .bg__title {
    width: 369px;
    display: block;
    margin: 0 auto;
    padding: 10% 0; }

.about {
  background: gainsboro;
  overflow: hidden;
  box-sizing: border-box; }
  .about__profile {
    font-size: 14px;
    font-weight: normal;
    padding: 0 50px;
    text-align: left; }
    .about__profile p {
      font-size: 14px;
      line-height: 18px; }

.skilltbl {
  display: flex;
  flex-wrap: wrap;
  background: #bee6dc;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 15px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.9)); }
  @media screen and (min-width: 560px) {
    .skilltbl {
      margin: 20px 20px; } }
  .skilltbl__title {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid black; }
  .skilltbl__skills {
    width: 100%; }
    .skilltbl__skills__item {
      text-align: left;
      width: 70%; }
    .skilltbl__skills__level {
      text-align: left;
      width: 30%; }
    @media screen and (min-width: 960px) {
      .skilltbl__skills {
        width: 50%; } }

.portfolio {
  background-image: url(../img/marble_background.png);
  padding-bottom: 30px; }
  .portfolio__title {
    display: block;
    font-size: 40px;
    font-family: 'Aguafina Script', cursive;
    margin: 0 0;
    padding: 10px 20px;
    filter: drop-shadow(4px 4px 1px rgba(20, 10, 0, 0.6)); }
  .portfolio__categ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .portfolio__art {
    width: 150px;
    height: 150px;
    background: #fafae6;
    border: 2px solid #828282;
    margin: 10px 10px;
    border-image-slice: 50;
    border-image-width: 15px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../img/woodFrame.png);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4)); }
    .portfolio__art img {
      width: 130px;
      height: 130px;
      margin: 10px 10px;
      object-fit: cover; }
    .portfolio__art:hover {
      animation: vibration .1s  infinite; }
    @media screen and (min-width: 560px) {
      .portfolio__art {
        width: 200px;
        height: 200px;
        margin: 20px 20px; }
        .portfolio__art img {
          width: 180px;
          height: 180px; } }
    @media screen and (min-width: 960px) {
      .portfolio__art {
        width: 250px;
        height: 250px; }
        .portfolio__art img {
          width: 230px;
          height: 230px; } }

.container {
  position: relative; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      margin: 0 auto; } }

.hidden {
  display: none; }

.done {
  display: none; }

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1500ms; }
  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0); }

.modal {
  z-index: 2;
  top: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.7); }

#artImg {
  max-width: 100%;
  max-height: 100%;
  animation: ZoomIn 1s ease 0s 1 normal; }

#humbMenu {
  position: absolute;
  color: #fff;
  font-size: 25px;
  right: 10px;
  top: 8px;
  cursor: pointer; }
  @media screen and (min-width: 560px) {
    #humbMenu {
      display: none; } }

#nav-bar {
  position: absolute;
  right: 10px;
  top: 35px;
  z-index: 2;
  animation: fadeIn .5s ease 0s 1 normal; }
  #nav-bar li {
    font-size: 14px;
    list-style: none;
    background: #221300;
    padding: 10px 20px;
    border: solid 1px #505050;
    border-collapse: collapse;
    opacity: 0.7; }
    #nav-bar li a {
      text-decoration: none;
      color: #ccc;
      cursor: pointer; }
  @media screen and (min-width: 560px) {
    #nav-bar {
      top: 0px;
      display: block; }
      #nav-bar li {
        display: inline-flex;
        font-size: 20px;
        padding: 5px 20px;
        background: transparent;
        border: none; }
        #nav-bar li a {
          color: black;
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6)); } }

#logo {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
  animation: fadeIn 2s ease 0s 1 normal; }

/*　↓↓↓↓↓　アニメーション*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ZoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes vibration {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg); }
  25% {
    transform: translate(0px, 2px) rotateZ(1deg); }
  50% {
    transform: translate(2px, 2px) rotateZ(0deg); }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg); }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg); } }

/*　↑↑↑↑↑　アニメーション*/
